@font-face {
	font-family: uni;
	text-transform: uppercase;
	src: url('../fonts/uni.ttf');
}

#controls {
	font-family: 'uni', sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	color: #FFF;
	position: absolute;
	bottom: 40;
	font-weight: 600;
	right: 40;
}

.controls {
	display: none;
}

.dialog {
	margin-top: 300px;
	background-color: #555555b0;
	border-radius: 10px;
	font-weight: 600;
	border: 2px solid rgb(58, 58, 58);
	text-transform: uppercase;
	font-family: 'uni', sans-serif;
	color: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100px;
	min-height: 10px;
	width: 500px;
	height: 190px;

	transform: translate(-50%, -50%);
}

.head {
	font-family: 'uni', sans-serif;
	font-size: 20px;
	font-weight: 600;
	display: block;
	overflow: hidden;
	margin-top: 10px;
	text-transform: uppercase;
}

.dialog.big {
	height: 200px;
}

.dialog .head {
	text-align: center;
	height: 40px;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;

	text-transform: none;
}

.dialog .head span::before {
	content: "";
	height: 100%;
	text-transform: uppercase;
	vertical-align: middle;
}

.dialog input[type="text"] {
	background-color: rgba(40, 41, 45, 0.75);
	font-family: 'uni', sans-serif;
	font-size: 16px;
	border: 1px solid rgba(37, 37, 37, 0.829);
	width: 60%;
	outline: 0;
	text-align: center;
	font-weight: 600;
	margin-top: 20px;
	margin-left: 105px;
	padding: 10px 25px;
	transition: all 0.2s ease-in-out;
	color: white;
}

.dialog textarea {
	background-color: rgba(40, 41, 45, 0.75);
	font-family: 'uni', sans-serif;
	border: 1px solid rgba(83, 83, 83, 0.5);
	font-weight: 600;
	font-size: 16px;
	outline: 0;
	width: 100%;
	height: 100px;
	color: white;
}

.dialog button[name="submit"] {
	background-color: #646464;
	border: none;
	font-size: 14px;
	border: 2px solid rgb(58, 58, 58);
	font-weight: 600;
	border-radius: 2px;
	text-transform: uppercase;
	color: white;
	border-radius: 3px;
	padding: 10px 25px;
	margin-top: 0;
	margin-bottom: 15px;
	margin-left: 105px;
	transition: all 0.1s ease-in-out;
	font-family: "uni", sans-serif;
}

.dialog button {
	z-index: 9999;
	transform: translate(-0%, 50%);
}

.dialog button[name="cancel"] {
	background-color: #646464;
	border: none;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	border: 2px solid rgb(58, 58, 58);
	border-radius: 2px;

	color: white;
	border-radius: 3px;
	padding: 10px 25px;
	margin-top: 0;
	margin-bottom: 15px;
	margin-left: 80px;
	transition: all 0.1s ease-in-out;
}

.dialog button[name="cancel"]:hover {
	background-color: #1a1a1a;
}

.dialog button[name="submit"]:hover {
	background-color: #1a1a1a;
	cursor: pointer;
}

.head::before,
.head::after {
	content: "";
	flex-grow: 1;
	height: 2px;
	margin: 0px 3px;
}
